[submodule "day1-portfolio-website"]
	path = day1-portfolio-website
	url = https://github.com/tarunkumar2005/day1-portfolio-website-.git
[submodule "day2-random-quote-website"]
	path = day2-random-quote-website
	url = https://github.com/tarunkumar2005/-day2-random-quote-website-.git
[submodule "day3-real-time-chat-app"]
	path = day3-real-time-chat-app
	url = https://github.com/tarunkumar2005/day3-real-time-chat-app.git
[submodule "day4-real-time-news-dashboard"]
	path = day4-real-time-news-dashboard
	url = https://github.com/tarunkumar2005/-day4-real-time-news-dashboard.git
[submodule "day5-movie-ssr-app"]
	path = day5-movie-ssr-app
	url = https://github.com/tarunkumar2005/day5-movie-ssr-app.git
[submodule "day6-ai-image-search-and-captioning"]
	path = day6-ai-image-search-and-captioning
	url = https://github.com/tarunkumar2005/day6-ai-image-search-and-captioning.git
[submodule "day7-expense-tracker-and-money-transaction"]
	path = day7-expense-tracker-and-money-transaction
	url = https://github.com/tarunkumar2005/day7-expense-tracker-and-money-transaction.git
[submodule "day8-dynamic-event-booking"]
	path = day8-dynamic-event-booking
	url = https://github.com/tarunkumar2005/day8-dynamic-event-booking.git
[submodule "day9-ai-powered-form-builder-like-google-forms"]
	path = day9-ai-powered-form-builder-like-google-forms
	url = https://github.com/tarunkumar2005/day9-ai-powered-form-builder-like-google-forms.git
[submodule "day10-collobrative-text-editor-web-sockets"]
	path = day10-collobrative-text-editor-web-sockets
	url = https://github.com/tarunkumar2005/day10-collobrative-text-editor-web-sockets.git
[submodule "day11-stock-market-watchlist"]
	path = day11-stock-market-watchlist
	url = https://github.com/tarunkumar2005/day11-stock-market-watchlist-.git
[submodule "day12-ai-powered-blog-editor"]
	path = day12-ai-powered-blog-editor
	url = https://github.com/tarunkumar2005/day12-ai-blog-editor
